/*

기본 폰트색
#424242

회색
#7c7c7c

어두운 회색
#40474d

밝은 회색
#dcdcdc;

밝은 회색2
#f3f3f3

포인트 색
#003c83

포인트 색2
#64B1CC

border-color용 밝은 회색
#dedede

*/
@import
	url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css")
	;

:root {
	--mainfont: "Pretendard Variable", Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
		"Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--boldWeight: 400;
}

* {
	outline: none;
}

*, :after, :before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

html, body {
	font-family: var(--mainfont);
	font-weight: var(--boldWeight);
	line-height: 1.4;
	word-break: break-all;
	color: #424242;
}

body {
	-webkit-font-smoothing: antialiased;
	-font-smoothing: antialiased;
	letter-spacing: -.3px;
	font-size: 1rem;
	min-width: 750px;
}

input {
	display: inline-block;
	border: 1px solid #dedede;
	background: #fff;
	padding: 8px;
	font-size: 13px;
	line-height: 1.2em;
	color: #424242;
	border-radius: 3px;
}

input[type="submit"] {
	background: #003c83;
	border: 1px solid #003c83;
	padding: 8px 18px;
	color: #fff;
	cursor: pointer;
	font-weight: 600;   
}

a {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}