
#reserveTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 30px;

    font-size: 18px;
    text-align: left;
    width: 1000px;
    font-size: 15px;
}
        
#reserveTable th, #reserveTable td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
        
#reserveTable th {
    background-color: #f2f2f2;
}

#reserveTable td{
	padding: 8px;
    vertical-align: middle; 
}

#pastReserve{
	background-color: #f2f2f2;
}

 #selectWrap{
			width: 1300px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 20px 0 20px 0;
        
        }
        
#selectDiv{
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: auto; 
}
        
#selectCheck{
	display: flex;
	gap: 10px;
	white-space: nowrap;		 
}
        
.mod-link {
	text-decoration: none;
	cursor: pointer;
	color: blue;
}

.cancel-link{
	text-decoration: none;
	cursor: pointer;
	color: red;
}
     
.upcoming{      	
	color: #28a745;
}

.in-use{
	color: #F29661;
}
     
.completed-bg {
   background-color: #f2f2f2;
}

#pagination{
	display: flex;
	margin: 5px 0 10px 0;
	justify-content: center;
	align-items: center;
	width: 1300px;
}

#pagination a {
	margin: 0 5px;
	text-decoration: none;
	color: #333;
}

#pagination a.active-page {
	font-weight: bold;
	color: #003c83; /* 강조 색 */
}

#noticeModal {
	position: fixed; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	z-index: 999;
	background: white;
	border: 1px solid #ccc;
	padding: 20px 20px 20px 20px;
	display: none;
	width: 300px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
}

#noticeModal button{
	color: white;
	background-color: #003c83;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	box-shadow: none;
	border: none;
	box-shadow: none;
	cursor: pointer;	
}
		
#noticeModal button:hover {
	background-color: #002c66;
}

#keyword {
	height: 34px;
	border-color: #dedede;	
}

#searchBtn{
	height: 34px;
	width: 60px;
	color: white;
	background-color: #003c83;
	border-radius: 10px;
	box-shadow: none;
	border: none;
	box-shadow: none;
	cursor: pointer;
}

#searchBtn:hover {
	background-color: #002c66;
}